.cartView{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.cartView img {
    border-right: 1px double #000000;
    padding: 1rem 2rem;
    width: 18rem;
}

.cartView .Card {
    width: 35%;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.cartView .Card h2{
    font-weight: bold;
}

.cartView .Card button{
    padding: 10px;
    background-color: transparent;
    border: 0;
}
