.cartVacio{
    display: flex;
    margin: 14rem;
    justify-content: center;
    align-items: center;
}

.cartV{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.cartV div button{
    width: 8rem;
    margin: 0.5rem;
    background-color: #ffbd43;
    border-radius: 0.5rem;
}

