.userRegistrado{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    height: 40vh;
}

.form h2{
    margin-bottom: 1rem;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffbd43;
    width: 40%;
    height: fit-content;
    border-radius: 1rem;
}

.form form h2{
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}

.form form div input{
    font-family: "Poppins", sans-serif;
    background-color: #ffbd43;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 22rem;
    height: 1.5rem;
    margin: 0.5rem;
    padding: 0.2rem;
}

.form form button{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 22rem;
    margin: 1rem;
    padding: 3px;
    border: 0px solid black;
    border-radius: 1rem;
}

.form h5{
    margin-bottom: 1rem;
    font-weight: 400;
}