header{
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 14rem;
    margin: 1rem 2rem;
}

header nav{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

header nav li{
    list-style: none;
    margin: 2rem;
}

header nav li a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
