.card {
    display: flex;
    flex-wrap: wrap;
    height: fit-content; 
}

.card h2 {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

.card a{
    text-decoration: none;
    color: black;
}

.card img {
    border-bottom: 1px solid black;
    height: 11rem;
    width: fit-content;
}

.card p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
}