header{
    background-color: #ffbd43;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    position: sticky;
    top: 0;
}

header .logo{
    position: relative;
    width: 40rem;
    height: fit-content;
    margin-top: -4rem;
    margin-bottom: -2rem;
}

.lista{
    display: flex;
    align-items: center;
    margin:3rem;
}

.lista li{
    list-style: none;
    margin: 1rem;
}

.lista li a{
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.lista li a:hover{
    color: white;
}

.lista li .dropdown{
    flex-direction: column;
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: #ffbd43;
}

.lista li:hover .dropdown{
    display: flex;
}