header{
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    padding-left: 20rem;
}

header .logo{
    width: 35rem;
    margin-left: -5rem;
}

.lista{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.lista li{
    list-style: none;
    margin: 2rem;
}

.lista li a{
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.lista li:hover{
    background-color:rgb(220, 207, 188);
}

.lista li .dropdown{
    flex-direction: column;
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: antiquewhite;
}

.lista li:hover .dropdown{
    display: block;
}