* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 3rem;
    text-align: center;
}


.prod {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.prod img {
    width: 10rem;
}

.prod .add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid black;
}

.prod .add div {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 3rem;    
}

.prod .add button {
    text-align: center;
    background-color: transparent;
    border: 0;
}

.prod .add button:hover {
    cursor: pointer;
}

.prod .add button img {
    width: 3rem;
    border-radius: 0;
    border: 0;
    margin: 1rem;
}


.prod .add h2{
    padding: 1rem;
}

